body
{
  background-color:#d7fffd;
}
hr
{
  border-style:none;
  border-top: dotted;
  border-color: grey;
  width: 5%;
}
h1
{
  color:#eb4559;
}
h2
{
  color:#eb4559;
}
h3
  {
    color:#eb4559;
  }
